---
#layout: maintenance
layout: jumbotron
title: Earth Wandering
---

<div class="featured-row row">
	{% for post in site.posts %}
	{% if post.featured == true && post.published != false %}
	<div class="span12 col-md-12 featured-post-box">

		<p>
			{% if post.mainpic != "" %}
				<a class="photo-left" href="{{ post.url }}">
					<img src="{{ post.mainpic }}" />
				</a>
			{% endif %}

			<h2 class="featured-post-title">
				<a href="{{ post.url }}">
				{{ post.title }}
				</a>
			</h2>

			<div class="post-detail">
				{{ post.date | date_to_string }} - {{post.author}}
			</div>
			
			{{ post.featuredsynopsis }} 

			<div class="featured-post-link">
				<a class="btn" href="{{ post.url }}">&nbsp;Read More &raquo;</a>
			</div>
		</p>
	</div>
	{% endif %}
	{% endfor %}
</div>

<div class="regular-row row">
	{% for post in site.posts %}
	{% if post.featured != true && post.published != false %}
	<div class="col-md-3 post-box">
		{% if post.mainpic != "" %}
			<a href="{{ post.url }}">
				<img class="photo post-photo" src="{{ post.mainpic }}" />
			</a>
		{% endif %}

		<h3 class="post-title">
			<a href="{{ post.url }}">{{ post.title }}</a>
		</h3>

		<div class="post-detail">
			{{ post.date | date_to_string }} - {{post.author}}
		</div>
		
		<div class="post-synopsis">
			{{ post.synopsis }}
		</div>

		<!--
		<div class="post-link">
			<a class="btn btn-default" href="{{ post.url }}">read &raquo;</a></p>
		</div>
		-->
	</div>
	{% endif %}
	{% endfor %}
</div>

