<!DOCTYPE html>
<html>
    <head>
            <title>{{ site.name }}</title>
            
            <script type="text/javascript">
            window.location = "http://www.flickr.com/photos/earthwandering/sets";
            </script>
    </head>
    <body>
    


<div style="text-align:center">

<p>EarthWandering.com is taking out the trash</p>

<p>See our <a href="http://flickr.com/earthwandering">Pictures on Flickr</a></p>

<img style="width: 25%; height: 25%;" src="assets/taking_out_trash.jpg" />

<p>Back Soon!</p>

</div>

    </body>
</html>